:root {
    /* Primitives */
    --color-white: #fffbf7;
    --color-black: #202020;
    --color-burgund: #733236;
    --color-blushed-earth: #9d7982;
    --color-dusty-rose: #c8b7c9;
    --color-slated-gray: #8ba4b3;
    --color-eucalyptus: #9cb2a5;
    --color-sand: #e3dbd3;

    /* Alias */

    /* Semantic */

    /* Components */
}
