.privacy-nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding-bottom: 2rem;

    a {
        white-space: nowrap;
        color: var(--alias-color-text-default);
    }
}
