:root {
    interpolate-size: allow-keywords;
}

body {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
            2rem,
            1fr
        );
    row-gap: 1rem;

    @media screen and (width > 40rem) {
        gap: 2rem;
    }
}

/* Sections */
.main-header,
.extended-top:not(:has(#hero-image)),
.main,
.extended-bottom,
footer {
    grid-column-start: 2;
    grid-column-end: 4;
}

.extended-top:has(#hero-image) {
    grid-column-start: 1;
    grid-column-end: -1;
}

/* Links */
nav a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
    }
}
