:root {
    interpolate-size: allow-keywords;
}

body {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
            2rem,
            1fr
        );
    background-color: var(--color-neutral-50);
    color: var(--sem-color-body-text);

    @media screen and (width > 40rem) {
        gap: 2rem;
    }
}

.main-header,
.extended-top,
.main,
.extended-bottom,
footer {
    grid-column-start: 2;
    grid-column-end: 4;
}

.notification-wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
}

.notification {
    background-color: var(--color-eucalyptus-500);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    max-width: 24rem;
    color: var(--color-green-700);

    p {
        margin: 0;
    }

    > p:first-of-type {
        font-weight: 600;
    }
}
