.main-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    padding-top: 2rem;
}

.logo {
    flex-shrink: 0;
    width: 15rem;
    color: var(--color-merlot-500);

    @media screen and (width < 40rem) {
        width: 10rem;
    }
}

.main-nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    column-gap: 2rem;

    a {
        white-space: nowrap;
        color: var(--color-green-500);
    }
}
