:root {
    --hero-image-container-width: 25rem;
}

.main-header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
    padding-top: 2rem;
}

.logo {
    flex-shrink: 0;
    width: 15rem;
    color: var(--color-merlot-500);

    @media screen and (width < 40rem) {
        width: 10rem;
    }
}

.main-nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    column-gap: 2rem;

    a {
        white-space: nowrap;
        color: var(--color-green-500);
    }
}

/* Hero Image */
.hero-image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: var(--hero-image-container-width);

    @media screen and (width < 40rem) {
        display: none;
    }
}

.hero-image,
.hero-overlay-line,
.hero-overlay-surface {
    width: 20rem;
    height: 30rem;
}

.hero-image {
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    overflow: hidden;
    z-index: 1;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hero-overlay-line {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 2px solid var(--color-green-400);
    border-radius: 20rem;
}

.hero-overlay-surface {
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: 0;
    border-radius: 20rem;
    background-color: var(--color-green-200);
}
